body{
    margin-top: 6rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    background: #ffe59a;
    height: 6rem;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: x-large;
}

.link {
    all: unset;
    cursor: pointer;
}

.pet-list {
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    background: rgba(255, 229, 154, 0.37);
}

button {
    all: unset;
    cursor: pointer;
    border: solid black;
    background: rgba(255, 170, 65, 0.81);
    padding: 3px;
}

input{
    all: unset;
    border: solid black;
    background: white;
    padding: 3px;
}

.card{
    background: rgba(255, 170, 65, 0.81);
    width: 100%;
    border: solid black;
    padding: 8%;
    margin: 2%;
}

.content{
    font-size: larger;
    display: inline-flex;
}

